# no executables pls
convertor
Helix/GUI/Helix
Helix/perftests_suffix/execs/*

# Kinda like precompiled C++
Helix/GUI/*.pro.user.*
Helix/GUI/moc_*.cpp
Helix/GUI/moc_*.cpp
Helix/GUI/qrc_*.cpp
Helix/GUI/ui_*.h
Helix/GUI/ui_*.h
Helix/GUI/*.user*
Helix/GUI/*.user
Helix/GUI/Makefile

# No suffix weird test shit :p
FASTAex.txt
resultofukonnen.txt
Commentsofthefastafile.txt

*~

*.core

*.gv

# Binary images, don't want that!
*.jpeg
*.jpg
*.gif
*.bmp
*.jpe
*.png

# Evert
*.kdevelop
*.kdev4
.kdev4
*.kate-swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
